<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookclub | Wishlist</title>
    <!-- Bootstrap StyleSheet CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style>
        .wishlistformat {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        .headerFormat {
            border: 0px solid #dddddd;
            text-align: left;
        }

        .title {
            padding: 20px;
        }
        tr.rowFormatting {
            border-bottom: 1pt solid black;
        }
        

    </style>

</head>

<body>
    <div th:insert="~{fragments/header :: header}"></div>

    <main>
        <div class="text-center">
            <div class="title">
                <h2>My Wishlist</h2>
            </div>
            <a href="/wishlist/new" th:href="@{/wishlist/new}" class="btn btn-outline-secondary text-center">New Wishlist Item</a>
            <p></p>
        </div>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
            <table>
            <tr class="rowFormatting">
                <td class="headerFormat"><strong>Title</strong></td>
                <td class="headerFormat"><strong>ISBN</strong></td>
                <td class="headerFormat"><strong>Functions</strong></td>
            </tr>
            <tr th:each="item : ${wishlist}" class="rowFormatting">
                <td th:text="${item.getTitle()}" class="headerFormat"></td>
                <td th:text="${item.getIsbn()}" class="headerFormat"></td>
                <td  class="headerFormat">
                    <a href="#" >Edit</a> |
                    <a href="#" >Delete</a>
                </td>
            </tr>
            </table>
            </div>
        </section>
    </main>

    <div th:insert="~{fragments/footer :: footer}"></div>
    <div th:insert="~{fragments/scriptFooter :: scriptFooter}"></div>
</body>
</html>